#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
    color: #FFFFFF;
}

.dc-chart g.row text {
    fill: white;
    font-size: 12px;
}

#total-projects {
    background: #33cc99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33cc99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.do-select-menu {
    background: #33cc99;
    width: 80%;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
}
#divLoading {
    background: #000 url(../hold_on.gif) no-repeat center center;
    height: auto;
    width: auto;
    position: fixed;
    z-index: 1000;
}
